@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
    font-family: 'Ubuntu', sans-serif;
    color: #333333;
    background-color: #f6f9fc;
}

header {
    background-color: lavender;
    margin: 0 25% 0 25%; 
}

header h1 {
    text-align: center;
}

#gameContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin: 0 25% 0 25%; 
    background: lavender;
    padding: 5px;
}

#tile {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border: 2.5px solid black; 
}

footer {
    background-color: lavender;
    margin: 0 25% 0 25%; 
}

footer h1 {
    text-align: center;
}

button {
    border: none;
	padding: 8px 15px 8px 15px;
	background: #37bbe4;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    margin: 0 auto;
    text-align: center;
    margin: 2.5px 2.5px 2.5px 2.5px;
    align-content: center;
}