extends layout
block content
    h1 Query Results
    table(style='width:100%', border='1')
        tr
            th Name
            th Address
            th Zip
        tr
    button(id='kmean') Add KMEAN
    #map
    #center
    #means
    script.
        let map = L.map('map',{ center: [42.375562, -71.106870], zoom: 14});
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        	attribution: '© OpenStreetMap'
        }).addTo(map);

        const table = document.querySelector("table")
        let features = []
        let myData = !{JSON.stringify(jsonData)};
        for(let i = 0; i < myData.length; i++){
            let row = table.insertRow(i + 1)
            

            let cell1 = row.insertCell(0);
            let cell2 = row.insertCell(1);
            let cell3 = row.insertCell(2);

            cell1.innerHTML = myData[i].name
            cell2.innerHTML = myData[i].address
            cell3.innerHTML = myData[i].zip

            let lat = myData[i].lat
            let lon = myData[i].lon

            features.push(turf.point([parseFloat(lat), parseFloat(lon)]))

            var marker = L.marker([lat, lon])
                .bindPopup(myData[i].name)
                .addTo(map);
        }
        let TurfFeatures = turf.featureCollection(features)
        
        let center = turf.center(TurfFeatures)
        L.geoJSON(center).bindPopup("Center").addTo(map)

        const Center = document.querySelector('#center')
        Center.innerHTML = `Center: ${center.geometry.coordinates}`

        let options = {numberOfClusters: 2};
        let clustered = turf.clustersKmeans(TurfFeatures, options);

        const kmeanButton = document.querySelector('#kmean')
        kmeanButton.addEventListener('click', () => {
            L.geoJson(clustered,{
                onEachFeature: function (feature, layer) {
                    layer.bindPopup(feature.properties.cluster); 
                }
            }).addTo(map);
        })
        const means = document.querySelector('#means')
        means.innerHTML = `Amount of Clusters: ${options.numberOfClusters}`


    